@import "./components/header.css";
@import "./components/content.css";
@import "./components/picture.css";
@import "./components/cardapio.css";

body {
  font-family: "Bitter";

  background-image: url("../images/black_yellow-restaurant2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;

  height: 100vh;
  width: 100%;
  padding: 26px 0 60px 0;
  box-sizing: border-box;

  gap: 110px;

  backdrop-filter: blur(35px);
}

main{
  display: grid;
  grid-template-columns: 8fr 7fr;
  padding: 0 40px;
  gap: 50px;
  flex-grow: 1;
}

#container-1{
  justify-content: center;
}

#container-2{
  justify-content: space-between;
  gap: 20px;
  padding: 30px 0;
}
